@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    background: yellow;
}

*, header, footer, .div1, .div2, .div3, .div4 {
    font-size: 1.5rem;
    font-family: "Cabin", sans-serif;
    font-weight: 200;
    text-align: center;
}

/* Default Sizing */
header,
footer {
    background-color: red;
    border: 2px solid black;
    height: 200px;
    width: 100%;
}

header,
footer,
div {
    font-family: "Cabin", sans-serif;
    text-align: center;
    float: left;
    border: 2px solid black;
}

.div1 {
    height: 500px;
    width: 20%;
    background-color: orange;
    background-position: center;
}

.div2 {
    height: 500px;
    width: 40%;
    background-color: greenyellow;
}

.div3 {
    height: 500px;
    width: 20%;
    background-color: blue;
}

.div4 {
    height: 500px;
    width: 20%;
    background-color: violet;
}

/* Tablet */
@media (min-width: 581px) and (max-width: 868px) {
    .div1 {
        width: 30%;
        background-color: orange;
    }

    .div2 {
        width: 40%;
        background-color: greenyellow;
    }

    .div3 {
        width: 30%;
        background-color: blue;
    }

    .div4 {
        width: 100%;
        background-color: indigo;
    }
}

/* Mobile */
@media (max-width: 580px) {
    .div1 {
        width: 60%;
        background-color: orange;
    }

    .div2 {
        width: 40%;
        background-color: greenyellow;
    }

    .div3 {
        width: 40%;
        background-color: blue;
    }

    .div4 {
        width: 60%;
        background-color: indigo;
    }
}
